dist: xenial
language: python
python:
  - "3.7"
install:
  - pip install -e .
  - pip install -r requirements.txt
script:
  #Two bash scripts handle the rest so this file doesn't get too messy
  - chmod +x tests/nPR_tests.sh
  - chmod +x tests/pr_okay_tests.sh
  - if [ $TRAVIS_PULL_REQUEST != false ]; then 
        ./tests/pr_okay_tests.sh;
        mkdir archives;
    else
        curl $USER_YAML_URL > user.yaml;
        ./tests/nPR_tests.sh;
        ./tests/pr_okay_tests.sh;
    fi
  #Runs tests of specific functions nicely (see tests/*.py)        
  - pytest
